<h2 class="header-h2">New Todo List</h2>

<%= render 'form' %>


<div class="new-todo" id="back-todo">
  <%= link_to todo_lists_path do%>
    <button class="btn btn-default" id="new-todo" type="submit">Back</button>
  <% end %>
</div>
